<% layout("/layouts/boilerplate") %>
     
<div class="row">
    <div class="col-8 offset-2">
        <h1>Listing Details</h1>
    </div>
    <div class="card col-6 offset-2 listing-card">
  <img src="<%=allListing.image.url %>" class="card-img-top " alt="..." style="height: 30vh;">
  <div class="card-body">
  <i><b> Made By-<%= allListing.owner.username%></b></i>

    <p class="card-text"><%=allListing.title %></p>
   <p class="card-text"><%=allListing.description %> </p>
   <p> &#8377;<%= allListing.price.toLocaleString("en-IN") %></p>
  <p>  <%= allListing.location %></p>
   <p> <%= allListing.country %></p>

</div>
    </div>

<br>
<% if(currUser && currUser._id.equals (allListing.owner._id)) {%>
<div class="btns mb-2 ">
    <a href="/listings/<%= allListing._id%>/edit" class="btn btn-dark col-1 offset-2 edit-btn">Edit </a>

    <form action="/listings/<%= allListing._id %>?_method=DELETE" method="POST">
         <button class="btn btn-dark offset-4">Delete </button>  
    </form>
    </div>
<%}%>
    </div>

    <hr>
      <div class="col-8 offset-3 mb-3">
        <h2>Leave A Review</h2>
               <% if(currUser) { %>

    <form action="/listings/<%= allListing._id%>/reviews" method="post" novalidate class ="needs-validation" >
       

          <div class="mb-3 mt-3">
        <label for="rating" class="form-lable">Rating</label>
<fieldset class="starability-slot">
  <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
  <input type="radio" id="first-rate1" name="review[rating]" value="1" />
  <label for="first-rate1" title="Terrible">1 star</label>
  <input type="radio" id="first-rate2" name="review[rating]" value="2" />
  <label for="first-rate2" title="Not good">2 stars</label>
  <input type="radio" id="first-rate3" name="review[rating]" value="3" />
  <label for="first-rate3" title="Average">3 stars</label>
  <input type="radio" id="first-rate4" name="review[rating]" value="4" />
  <label for="first-rate4" title="Very good">4 stars</label>
  <input type="radio" id="first-rate5" name="review[rating]" value="5" />
  <label for="first-rate5" title="Amazing">5 stars</label>
</fieldset>
</div> 
      
        <div class="mb-3 mt-3">
        <label for="comment" class="form-lable">Comment</label>
        <textarea name="review[comment]" id="comment" rows="5" cols="30" 
        class="form-control" required></textarea>
        
        </div>
        <div>
        <button class="btn btn-outline-dark">Submit</button>
        </div>
    </form>
        <%}%>
    <hr>
<p><b>All Reviews Send By User</b> </p>
<div class="row">
<% for(value of allListing.reviews){%>
    <div class="card col-6 mb-3" ms-5>
        <div class="card-body">
            <h5 class="card-title">@<%=value.auther.username%></h5>
            <p class="starability-result card-text" data-rating="<%=  value.rating %>"></p>

            <p class="card-text">Comment:<%=  value.comment %></p>
            <p class="card-text">Rating is =><%=  value.rating %></p>
        </div>
        <form method="post" action="/listings/<%= allListing._id%>/reviews/<%=value._id %>?_method=DELETE">
            <button class="btn btn-sm btn-dark mb-2">Delete</button>
        </form>
    </div>
<%}%>

</div>

<div class="col-3offset-3 mb-3">
<h3>Where You Are</h3>
<div id = "map"></div>

</div>
</div>


<script src="/js/map.js"></script>

